.container{
    display: flex;
    padding: 20px 0 0 7%;
}
.product-container{
    width: 80%;
    margin-right: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.fortune-box-conatiner{
    width: 20%;
    
}
.fortune-box{
    border: 2px solid red;
    padding: 15px;
}
.fortune-box>h3{
    text-align: center;
}
@media screen and (max-width: 768px) {
    .container{
        flex-direction: column-reverse;
        padding: 0 2%;
    }
    .product-container{
       width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .fortune-box-conatiner{
        width: 100%;
        margin: 20px 0;
    }
}