.container{
    display: flex;
    padding: 20px 0 0 7%;
}
.product-container{
    width: 80%;
    margin-right: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.fortune-box-conatiner{
    width: 20%;
    
}
.fortune-box{
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(204, 219, 232, .5) -3px -3px 6px 1px inset;
    border-radius: 7px;
}
.fortune-box>h2{
    text-align: center;
}
.choose-again{
    padding: 10px 20px;
    background: none;
    font-weight: 600;
    border-radius: 7px;
    margin: 10px 0;
    cursor: pointer;
    transition: .2s all;
    border:1px solid #E03B8B;
    color: #E03B8B ;
}
.choose-again:hover{
    background: #E03B8B;
    color: #FFF;
}
@media screen and (max-width: 768px) {
    .container{
        flex-direction: column-reverse;
        padding: 0 2%;
    }
    .product-container{
       width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .fortune-box-conatiner{
        width: 100%;
        margin: 20px 0;
    }
}